<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s.liza.tourguideappodessa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HotelActivity"
            android:label="@string/category_hotel" />
        <activity
            android:name=".CafesActivity"
            android:label="@string/category_cafes" />
        <activity
            android:name=".TopAttractionsActivity"
            android:label="@string/category_top_attract" />
        <activity
            android:name=".BreweriesActivity"
            android:label="@string/category_breweries" />
        <activity
            android:name=".FestivalsActivity"
            android:label="@string/category_festivals">

        </activity>
    </application>

</manifest>